body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  color: black;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  display: block;
  margin: auto;
  background: #bbbbbb;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: #6b6262;
  transform: scale(1.2);
}

fieldset {
  margin: 20px 0;
}

legend + p {
  font-size: 20px;
  margin-bottom: 10px;
}

select {
  padding: 0 15px;
  margin-bottom: 25px;
}
